
<div class="container">
    <h1>CREAR POST</h1>
  
    <!-- <a href="#" routerLink="/post/lista" class="btn btn-primary">Atrás</a> -->
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="title">Título:</label>
            <input 
                formControlName="title"
                id="title" 
                type="text" 
                class="form-control">
            <div *ngIf="controls['title'].touched && controls['title'].invalid" class="alert alert-danger">
                <div *ngIf="controls['title'].errors && controls['title'].errors['required']">Introduce un título.</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="body">Descripción</label>
            <textarea 
                formControlName="body"
                id="body" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="controls['body'].touched && controls['body'].invalid" class="alert alert-danger">
                <div *ngIf="controls['body'].errors && controls['body'].errors['required']">Introduce una descripción.</div>
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Crear</button>
    </form>
</div>